################
# Python
################
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
celerybeat-schedule

################
# Unit tests
################
.coverage
.tox

################
# Other Stuff
################
.DS_Store
Thumbs.db
Desktop.ini
*.swp
*~
*.sqlite
*.db
/venv
.sass-cache/
.env
[Bb]in
[Oo]bj
sql
TestResults
*.Cache
~$*
/static
